.env
__pycache__
*.ipynb_checkpoints
*.png
*.jpg
test.ipynb
*.db
dashboard/
upload/
flow.txt
main_full.py
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

.DS_Store

.ipynb_checkpoints/

build/
dist/
*.egg-info/